#root {
    padding: 2rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (prefers-color-scheme: light) {
    :root {
        color: black;
        background-color: white;
    }
    button {
        background-color: rgb(219 219 219 / 55%);
        color: black;
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        color: rgba(255, 255, 255, 0.87) !important;
        background-color: #242424 !important;
    }
    button {
        color: white;
    }
}